.DS_Store
node_modules
/build
/.svelte-kit
/package
.vercel_build_output/
.eslintcache
.env
.env.*
!.env.example
!.github
!.eslintrc.cjs

/db
*.db
*.sqlite
*.sqlite-shm
*.sqlite-wal

# inter fonts
static/inter*.woff
static/inter*.woff2
src/assets/inter*.woff
src/assets/inter*.woff2

dist/
cherry
