@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  // prettier-ignore
  src: local('Inter-Regular'), url('./assets/interJD5f6rvu.woff2') format('woff2'), url('./assets/interJD5f6rvu.woff') format('woff');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  // prettier-ignore
  src: local('Inter-ExtraBold'), url('./assets/interIoAYgYqv.woff2') format('woff2'), url('./assets/interIoAYgYqv.woff') format('woff');
}

@mixin dark {
  --bg-main: #050505;
  --bg-card: #1d1d1f;
  --color-text: #ddd;
}
@mixin light {
  --bg-main: #f3f3f3;
  --bg-card: #fefefe;
  --color-text: #222;
}

:root {
  @media (prefers-color-scheme: dark) {
    @include dark;
    color-scheme: dark;
  }
  @media (prefers-color-scheme: light) {
    @include light;
    color-scheme: light;
  }
}

:root {
  --fmono: 'JetBrains Mono', source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  --fsans: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
  --focus-blue: #1a73e8;

  // font-family: var(--fsans);
  font-family: Inter, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;

  background-color: var(--bg-main);
  color: var(--color-text);
}

*,
*:before,
*:after {
  box-sizing: border-box;
}
