@mixin dark {
  // --bg-main: #121212;
  --bg-main: #050505;
  --bg-card: #1d1d1f;
  --bg-card-hover: hsl(0deg 0% 28%);
  --bg-v0: #3f3f3f;
  --bg-v1: hsl(223deg 7% 19%);
  --bg-v2: hsl(223deg 7% 19%);
  --color-v0: hsl(223deg 7% 19%);
  --bg-btn: hsl(223deg 7% 19%);
  --color-btn-bo: hsl(223deg 7% 19%);
  --bo-default: #30363d;
  --color-text: #ddd;
  --color-text-disabled: hsl(0deg 0% 40%);
  --color-text2: hsl(0deg 0% 40%);
  --text-v3: hsl(0deg 0% 77%);
  --color-text3: hsl(0deg 0% 60%);
  --color-text4: hsl(0deg 0% 50%);
  // input
  --color-input-bg: #2d2d30;
  --color-input-bo: #555;
  --color-input-bo-hover: #aaa;
}
@mixin light {
  --bg-main: #f3f3f3;
  --bg-card: #fefefe;
  --bg-card-hover: hsl(0deg 0% 85%);
  --bg-v0: #efefef;
  --bg-v1: hsl(0deg 0% 94%);
  --bg-v2: hsl(0deg 0% 89%);
  --color-v0: hsl(0deg 0% 88%);
  --bg-btn: hsl(0deg 0% 94%);
  --color-btn-bo: hsl(210deg 14% 83%);
  --bo-default: hsl(210deg 14% 83%);
  --color-text: #222;
  --color-text-disabled: hsl(0deg 0% 64%);
  --color-text2: hsl(0deg 0% 64%);
  --text-v3: hsl(0deg 0% 23%);
  --color-text3: hsl(0deg 0% 32%);
  --color-text4: hsl(0deg 0% 50%);
  // input
  --color-input-bg: #f0f0f0;
  --color-input-bo: #dedede;
  --color-input-bo-hover: #aaa;
}

:root {
  color-scheme: dark light;
  --color-focus-blue: #387cec;
  --focus-shadow: 0 0 0 3px rgba(66, 153, 225, 0.6);
  // cherry red
  // --accent: hsl(351deg 57% 60%);
  // cherry green
  --accent: hsl(94deg 99% 33%);
  @media (prefers-color-scheme: dark) {
    @include dark;
  }
  @media (prefers-color-scheme: light) {
    @include light;
  }
}

:root {
  --fmono: 'JetBrains Mono', source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  --fsans:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol, noto color emoji;
  --focus-blue: #1a73e8;

  font-family: Inter, var(--fsans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;

  background-color: var(--bg-main);
  color: var(--color-text);
}

// sm    @media (min-width: 640px) {}
// md    @media (min-width: 768px) {}
// lg    @media (min-width: 1024px) {}
// xl    @media (min-width: 1280px) {}
// 2xl   @media (min-width: 1536px) {}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
}

button {
  user-select: none;
}

a:focus {
  box-shadow: var(--focus-shadow);
  outline: none;
}
